A:link {
	COLOR: #33ff00
}
A:visited {
	COLOR: #33ff00
}
A:active {
	COLOR: #33ff00
}
A:hover {
	COLOR: #33cc00
}

BODY {
	SCROLLBAR-FACE-COLOR: #afc6db;
	SCROLLBAR-HIGHLIGHT-COLOR: #dee7ef;
	SCROLLBAR-SHADOW-COLOR: #000000;
	SCROLLBAR-3DLIGHT-COLOR: #ffffff;
	MARGIN-LEFT: 10px;
	MARGIN-RIGHT: 10px;
	SCROLLBAR-TRACK-COLOR: #f5f5f5;
	SCROLLBAR-DARKSHADOW-COLOR: #afc6db;
	font-family: Arial;
	font-size: 11pt;
	font-style: normal;
}

TD {
	text-align='center';
	font-size: 11pt;
}

P {
	text-align='justify';
	margin-left: 10px;
	font-size: 11pt;
}